*{
    box-sizing: border-box;
}
.notifications{
    display: inline-block;
    position: relative;
    background: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    top: -20px;
    right: 25px;
}
.student-select{
    margin-top: 30px;
  }

  .reports{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    float: center;
  }

  .mb-1{
      font-size: 2em;
      text-align: left;
  }
.card{
    margin-top:0px;
    width:65%;
    margin-left: 25%;
}
.delete-report {
    padding: 8px 12px;
    font-size: 1.2em;
    border-radius: 5px;
}
