body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  font-weight: 200;
  background-color:lightgray;
  height: 100%;
  width: 100%;
  display: table
}


.signin-form{
  width: 400px;
  padding-top: 100px;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: left;
  color: black;
  min-height: 650px;
}
.signin-form h1{
  color: black;
}
.signin-form a{
  color: black;
}
.signin-form a:hover{
  color: rgb(168, 170, 161);
  transition-duration: .4s;
  text-decoration: none;
}
.registration-form{
  width: 400px;
  padding-top: 100px;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: left;
  color: black;
  min-height: 650px;
}
.registration-form a{
  color: black;
}
.registration-form a{
  color: black;
}
.registration-form a:hover{
  color: rgb(168, 170, 161);
  transition-duration: .4s;
  text-decoration: none;
}
.registration-form a:hover{
  color: rgb(168, 170, 161);
  transition-duration: .4s;
  text-decoration: none;
}

/* footer styling */

.footer{
  font-size: 1em;
  height: 80px;
  background-color:darkgray;
  text-decoration: none;
  width: 100%;
  margin-top: 5%;
  bottom: 0;
}
.footer-nav{
  height: 5px;
  margin: auto;
  padding-top: 10px;
  line-height: 15px;
  right: 15px;  
  margin-left: 70%;
  }
footer ul li{
  list-style-type: none;
  display: inline-block;
}

/* footer icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
  text-decoration: none;
  background-color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: black;
  color: white;
}
.fa-twitter {
  background: black;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

footer a{
  padding: 0;
}

/* navbar styling  */
.my-nav img{
  height: 15%;
  width: 15%;
  margin-right: 20%;
}

.my-nav{
  background-color: white;
  font-size: .7em;
}
.my-nav .dropdown-menu{
  background-color: lightcoral;
  opacity: .95;
}

.custom-toggler .navbar-toggler{
  border-color: rgb(0,0,0);
}
.custom-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.my-nav .dropdown-item{
  font-size: 1em;
}
.my-nav .dropdown-item a{
  font-size: 1em;
}

a{
  font-size: 1.6em;
  line-height: normal;
  color: black;
  text-decoration: none;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
}
a:hover {
  color: rgb(168, 170, 161);
  transition-duration: .3s;
  text-decoration: none;
}
