body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  font-weight: 200;
  background-color:lightgray;
  height: 100%;
  width: 100%;
  display: table
}
.bg-img-container{
  background-image: url("https://s3.amazonaws.com/meditrack/MGbackgroundpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-container{
  width: 50%;
  height: 70%;
  background-color: white;
  background-image: url('https://s3.amazonaws.com/meditrack/MGbackgroundpic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .85;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  border: 2px white;
  border-radius: 20px;
  padding-bottom: 3em;
}
.home-logo img{
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 50px;
}
@media (max-width: 600px){
  .home-logo img{
    height: 100%;
    width: 100%;
  }
}
.home-button{
  margin-right: 10px;
  border-color: #8e7a6f;
  color: #8e7a6f
}
.home-button:hover{
  background-color: #8e7a6f;
  border-color: #8e7a6f
}
.home-button-2{
  border-color: #8e7a6f;
  color: #8e7a6f
}
.home-button-2:hover{
  background-color: #8e7a6f;
  border-color: #8e7a6f
}

.signin-container{
  background-color: white;
  width: 500px;
  margin: auto;
  height: 400px;
  margin-top: 10%;
  opacity: 0.75;
  border: 2px white;
  border-radius: 20px;
}
.signin-form{
  width: 400px;
  padding-top: 30px;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: left;
  color: #8e7a6f;
  min-height: 650px;
}
@media (max-width: 600px){
  .signin-container{
    background-color: white;
    width: 40%;
    margin: auto;
    height: 400px;
    margin-top: 10%;
    opacity: 0.75;
    border: 2px white;
    border-radius: 20px;
  }
  .signin-form{
    width: 80%;
    padding-top: 30px;
    font-size: 1.2em;
    margin: 0 auto;
    text-align: left;
    color: #8e7a6f;
    min-height: 650px;
  }
  .signin-form h1{
    font-size: 2em;
  }
  
}
.signin-form h1{
  color: #8e7a6f;
}
.signin-form a{
  color: #8e7a6f;
}
.signin-form a:hover{
  color: #cac3be;
  transition-duration: .4s;
  text-decoration: none;
}

.my-submit-btn{
  background-color:#8e7a6f;
}
.my-submit-btn:hover{
  background-color:#534740;
}
.exampleInputEmail1{
  color: #8e7a6f;
}
.share-text{
  color:#8e7a6f;
}
.my-form-border{
border-color: #caae9f;
}
/* registration page styling */

.registration-form{
  width: 400px;
  padding-top: 30px;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: left;
  color: #8e7a6f;
  min-height: 650px;
}
.registration-container{
  background-color: white;
  width: 500px;
  margin: auto;
  height: 480px;
  margin-top: 10%;
  opacity: 0.75;
  border: 2px white;
  border-radius: 20px;
}
.registration-form a{
  color: #8e7a6f;
}
.registration-form a{
  color: #8e7a6f;
}
.registration-form a:hover{
  color: #cac3be;
  transition-duration: .3s;
  text-decoration: none;
}

/* footer styling */

.footer{
  font-size: 1em;
  height: 8em;
  background-color: white;
  text-decoration: none;
  width: 100%;
  margin-top: 40%;
  bottom: 0;
  position: sticky;

}
@media(max-width: 600px){
}
.footer .copyright-name{
  color: #8e7a6f;
  font-size: 1.5em;
  padding-right: 20px;
}
.footer-nav{
  padding-top: 1%;
  }
footer ul li{
  list-style-type: none;
  display: inline-block;

}

/* footer icons */
.fa {
  padding: 10px;
  font-size: 2em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
  text-decoration: none;
  background-color: rgb(78, 68, 68);
}

.fa-facebook {
  background: #8e7a6f;
  color: white;
}
.fa-twitter {
  background: #8e7a6f;
  color: white;
}
.fa-instagram {
  background: #8e7a6f;
  color: white;
}
.fa-github {
  background: #8e7a6f;
  color: white;
}

footer a{
  padding: 0;
}
footer a:hover{
  color: white;
}

/* navbar styling  */
.my-nav img{
  height: 15%;
  width: 15%;
  margin-right: 70%;
}

.my-nav{
  background-color: white;
  font-size: .8em;

}

.my-nav .dropdown-menu{
  background-color: rgb(78, 68, 68);
  opacity: 1;
}

.custom-toggler .navbar-toggler{
  border-color: rgb(78, 68, 68);
}
.custom-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(142,122,111, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.my-nav .dropdown-item{
  font-size: 1em;
  color: white;
}
.my-nav .dropdown-item a{
  font-size: 1em;
}

.my-nav a{
  font-size: 2.5em;
  line-height: normal;
  color: #8e7a6f;
  text-decoration: none;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
}
 .my-nav a:hover {
  color: rgb(168, 170, 161);
  transition-duration: .3s;
  text-decoration: none;
}


.report-form-container{
  width:60%;
  margin: auto;
  margin-left: 300px;
  text-align: left;
  font-size: 1.7em;
  }

  .jumbotron{
    background-color: lightgray
  }

  .help-container{
    width: 50%;
    margin: auto;
  }
  .questions-container{
    font-size: 2em;
    text-align: left;
  }
 .questions-container .my-questions:hover{
    color: #981D31;
  }

 .list-group-item .questions li:hover{
    color: blue;
  }

  .questions-container .answer-item{
    font-style: italic;
    text-align: left;
    font-size: .8em;
  }


.help-container {
  margin-left: 30%
}

.map-list{
  width: 30%;
  font-size: 1.2em;
  padding: 30px;
  float: right;
  margin-top: 20px;
  margin-right: 5%;
  text-align: left;
  }

.map-container{
  margin-top: 50px;
  height: 500px;
  width: 500px;
  margin-left: 25%;
  position: absolute;
  border: rgb(78, 68, 68);
  border-style: solid;
  border-width: 5px;
} 