* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif',;
    background: lightgray
   
   

}
.Menu{

    margin-top: 35px;
    margin-bottom:25px;
    padding-right: 200px;
    background: #981D31;

}
a{
    display: inline;
    color: black;
}
a:hover{
    color: white;
}

.list-group a:hover {
    color: inherit;
}

.jumbotron{
    padding: 10px;
    margin-top: 2%;
}
.jumbotron .fa{
    background-color: #981D31;
}
.jumbotron .fa:hover{
    background-color: #981D31;
    opacity: 1
}
.dash{
    display:flex;
    align-content: left;

}
.welcome{
    display: flex;
    align-content: left;
    font-size: 12px;
    
}
.card{
    display: flex;
    margin-left: 35%;
    margin-bottom: 2%;
    width: 33%;
    height: 33%;
    padding: 0 15px 15px;
    background:#fff;
    border-radius: 5px;
}
.card .fa{
    background-color: white;
}
.card .fa:hover{
    background-color: white;
}
.card-two{
    width: 100%;
    padding: 20px 15px 25px;
    background:#fff;
    border-radius: 5px;
    margin-bottom: 100px;
}
.user-name{
    font-size: 20px;
    color: #981D31;
    display: block;
    text-align: center;
}
.title{
    display: block;
    font-size: 12px;
    text-align: center;
}
.specialty {
    font-size: 14px;
    display: block;
    text-align: left;
}
.heading .help-page{
    margin-left: 200px;
    align-items:left;
    margin-top: 0;
    }

/* vertical nav styling */
.my-vertical-nav .row{
    align-items: flex-start;
    background-color:rgb(128, 123, 123);
    width: 13em;
    height: 900px;
    float: left;
    position: static;
    font-size: 1.3em;
    z-index: 10;
    text-align: left;
    padding: 0;
}
@media (max-width:600px){
    .my-vertical-nav .row{
        align-items: flex-start;
        background-color:rgb(128, 123, 123);
        width: 13em;
        height: 900px;
        float: left;
        position: static;
        font-size: 1.3em;
        z-index: 10;
        text-align: left;
        padding: 0;
  }
}

.my-vertical-nav .nav-link:hover{ 
 color: white;
}
.my-vertical-nav .active{
    background-color: #981D31 ;
    width: 13em;
    border-radius: 0;
    color: white;
}
.my-vertical-nav .nav-link{
    color: black;
}

.welcome-student-dash{
    background-color: rgb(48, 45, 45);
    color: white;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}
.welcome-text {
    padding-top:6px;
}
.my-vertical-nav .active .fa:hover {
    text-decoration: none;
    background-color: #981D31;
    opacity: 1;
  }
  .my-vertical-nav .fa:hover {
    text-decoration: none;
    background-color: rgb(128, 123, 123);
    opacity: 1;
  }
  .please-use-hours{
      margin-left: 240px;
  }

  .reports-title{
      font-size: 2.2em;
      text-align:left;
      padding-left: 25%;
      margin-top: 20px;
  }
  .hours-title{
    font-size: 2.2em;
    text-align: left;
    padding-left: 25%;
    margin-top: 20px;
  }
  .btn-link{
      color: black;
      font-size: 1em;
      background-color: white;
      margin-bottom:10px;
      text-decoration: none;
  }
  .btn-link:hover{
      color: #981D31;
      text-decoration: none;
  }
  .reports{
    background-color: white;
}
/* Kristy's student's page */

.student-card{
    width: 70%;
    height: 50%;
    float:center;
    padding-left: 20%;
}

.student-head{
    max-width: 100px;;
}
.student-head:hover {
    opacity: .5;
}
.students-delete{
    margin: 5px;
    width: 100%;
}
.student-profile-card{
    margin: 500px;
}

.hours-display{
    font-size: 2em;
}
.student-hours-list{
    margin-top:0px;
    width:65%;
    margin-left: 25%;
}

.student-profile-card{
    margin-top: 10%;
}